<div class="container">
  <h1 class="home-message">let's build something together</h1>

  <div class="mission space-div">
    <h2>software development team that shares your passion for your cause.</h2>
  </div>

  <h3 class="mission space-div">we take on projects for organizations that we believe in so we may build the world we desire:</h3>

  <div class="card w-50">
    <ul class="list-group mission">
      <li class="list-group-item">
        leaving the earth in better shape then we find it
      </li>
      <li class="list-group-item">
        helping animals thrive in their natural habitat
      </li>
      <li class="list-group-item">
        ensuring everyone has the opportunity to acquire a quality education
      </li>
      <li class="list-group-item">
        financial literacy education to eliminate poverty
      </li>
    </ul>
  </div>

</div>
