@import 'bootstrap';

body {
  font-family: 'Roboto', sans-serif;
  padding: 35px;
  background-color: #fcfcfc;
}

.navbar {
  background-color: #fcfcfc;
}

.nav-link {
  font-size: 14px;
}

.navbar-brand {
  font-size: 30px;
}
